<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="static/js//bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js//bootstrap.bundle.js"></script>
    <title>PokemonDB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="icon" href="/static/img/pokeball.ico">
    
    <nav class="navbar navbar-expand-lg bg-light">

      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
          src="/static/img/pokedex.png"
          alt="logo"
          width="200"
          class="d-inline-block align-text-top"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            <li class="nav-item">
              <a class="nav-link" href="/gyms">Gyms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/trainers">Trainers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pokedecks">Pokedecks</a>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pokemon">Pokemon</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pokemon_evolutions">Pokemon Evolutions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pokemon_types">Pokemon Types</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/abilities">Abilities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Moves</a>
            </li>
          </ul>
        </div>

      </div>

    </nav>

  </head>


  <body>
    <h1>Moves</h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Move ID</th>
          <th scope="col">Move Name</th>
          <th scope="col">PP</th>
          <th scope="col">Power</th>
          <th scope="col">Accuracy</th>
          <th scope="col">Move Type</th>
        </tr>
      </thead>
      <tbody>
        {% for move in moves %}
        <tr>
          {% for key in move.keys() %}
          <td>{{move[key]}}</td>
          {% endfor %}
          <td><a href="/update_move/{{move.move_id}}" class="btn btn-primary">Edit</a></td>
          <td><a href="/delete_move/{{move.move_id}}" class="btn btn-primary">Delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#addNewMoveModal">Add New Move</button>
    </div>

    <div class="container">
      {% block mucontent %}
      {% endblock mucontent %}
    </div>

    <div style="margin-top: 50px;">
      <!-- Pokemon Move Types table populated via flask which retrieves gym values from database -->
    <h1>Move Types</h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Move Type ID</th>
          <th scope="col">Move Type</th>
        </tr>
      </thead>
      <tbody>
        {% for moveType in moveTypes %}
        <tr>
          {% for key in moveType.keys() %}
          
          <td>{{moveType[key]}}</td>
          {% endfor %}
          <!-- move_id value required by flask function running SQL script for specific move types -->
          <td><a href="/update_move_type/{{moveType.move_types_id}}" class="btn btn-primary">Edit</a></td>
          <td><a href="/delete_move_type/{{moveType.move_types_id}}" class="btn btn-primary">Delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#addNewMoveTypeModal">Add New Move Type</button>
    </div>

    <br><br>
    <!-- Space provided for moves type update form populated by update_move_type.j2 child page -->
    <div class="container">
      {% block mtucontent %}
      {% endblock mtucontent %}
    </div>
  </div>

  <br>
  <br>

        <!---------------------------------------------------------MOVE-MODALS-------------------------------------------------------------->    

  <!-- Add New Modal -->
  <div class="modal fade" id="addNewMoveModal" tabindex="-1" role="dialog" aria-labelledby="addNewMoveModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="addNewMoveModalLabel">Add New Move</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

          <div class="modal-body">
            <form role="form" id="Add_Move" method="POST" action="/moves_move-types">
              <div>
                <label>Enter Move Name</label><br><input type="text" id="moveName" name="moveName" min="1" step="1">
              </div>

              <div>
                <label>Enter Move PP</label><br><input type="number" id="pp" name="pp" min="1" step="1">
              </div>

              <div>
                <label>Enter Move Power</label><br><input type="number" id="power" name="power" min="0" step="1">
              </div>

              <div>
                <label>Enter Move Accuracy</label><br><input type="number" id="accuracy" name="accuracy" min="1" step="1">
              </div>

              <div>
                <label>Select Move Type</label>
                <br>
                <select class="form-control" name="moveType_id_dropdown" id="moveType_id_dropdown">
                  {% for type in moveTypes %}
                  <option value="{{type.move_types_id}}">{{type.move_type_name}}</option>
                  {% endfor %}
                </select>
              </div>
                
              <div class="modal-footer">
                <button type="submit" value="Add_Move" name="Add_Move" class="btn btn-primary">Save New Move</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
          
              </form>
          </div>
          </div>

      </div>
    </div>
  </div>

  <!--------------------------------------------------------MOVE-TYPE-MODALS-------------------------------------------------------------->    

    <!-- Add New Modal -->
    <div class="modal fade" id="addNewMoveTypeModal" tabindex="-1" role="dialog" aria-labelledby="addNewMoveTypeModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="addNewMoveType">Add New Move Type</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

            <div class="modal-body">
              <form role="form" id="Add_Move_Type" name="Add_Move_Type" method="POST" action="/moves_move-types">

                <div>
                  <label>Enter Move Type</label><br><input type="text" name="move_type_name" id="move_type_name">
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" value="Add_Move_Type" name="Add_Move_Type" class="btn btn-primary">Save New Move Type</button>
                </div>

                </form>
            </div>
        </div>
      </div>
    </div>

  
  </body>
</html>