{% extends "gyms.html" %}
{% block gucontent %}
<!-- form to edit data in gyms-->
<div>
<form id="updateGym" action="/update_gym/{{u_gym[0].gym_id}}" method="post">
  <legend><strong>Update Gym</strong></legend>
      
      <fieldset>
      <input type="hidden" value="{{u_gym[0].gym_id}}" class="form-control" id="gymID" name="gymID" required>
      <div class="form-group">
        <label for="gym_nameInput">Gym Name</label><br>
        <small><i>Required Input</i></small><br>
        <input type="text" id="gym_nameInput" name="gym_name" value="{{u_gym[0].gym_name}}" class="form-control" pattern="[A-Za-z0-9\s!@#$%^&*()_+=-`~\\\]\[{}|';:/.,?]{1,}" required>
      </div>
      <div class="form-group">
        <label for="gym_addressInput">Gym Address</label>
        <input type="text" id="gym_addressInput" name="gym_address" value="{{u_gym[0].gym_address}}" class="form-control" pattern="[A-Za-z0-9\s'.]{1,}">
      </div>
      <div class="form-group">
        <label for="gym_zipInput">Gym Zip</label><br>
        <small><i>Five Numbers Only - e.g. 50143</i></small><br>
        <input type="text" id="gym_zipInput" name="gym_zip" value="{{u_gym[0].gym_zip}}" class="form-control" pattern="[0-9]{5}">
      </div>
      <div class="form-group">
        <label for="gym_cityInput">Gym City</label>
        <input type="text" id="gym_cityInput" name="gym_city" value="{{u_gym[0].gym_city}}" class="form-control" pattern="[A-Za-z\s']{1,}">
      </div>
      <div class="form-group">
        <label for="gym_stateInput">Gym State</label><br>
        <small><i>Abbreviated State Format - Two Letters</i></small><br>
        <input type="text" id="gym_stateInput" name="gym_state" value="{{u_gym[0].gym_state}}" class="form-control" pattern="[A-Za-z]{2}">
      </div>
      <br>
      <input type="submit" value="Update Gym" name="Update_Gym" class="btn btn-primary" style="margin:.5rem;">
      <a href="/gyms"><input class="btn btn-secondary" type="button" value="Cancel"></a>
  </fieldset>
</form>
</div>

{% endblock gucontent %}  