{% extends "pokemon_types.html" %}
{% block tucontent %}
<!-- form to edit data in pokemon types-->
<div>
<form id="updatePokeType" action="/update_poke_type/{{u_type[0].poke_type_id}}" method="post">
  <legend><strong>Update Pokemon Type</strong></legend>
      <!-- We can preset form inputs to match attributes currently stored for 'id' of person to be updated via value= and accessing our passed data tuple -->
      <!-- Create hidden form input to store the passed 'id' of the person we are editing so we can access it easily in our 'POST' method in our app.py -->
      <fieldset>
      <input type="hidden" value="{{u_type[0].poke_type_id}}" class="form-control" id="typeID" name="typeID" required>
      <div class="form-group">
        <label for="type_nameInput">Type Name</label>
        <input type="text" id="type_nameInput" name="type_name" value="{{u_type[0].type_name}}" class="form-control" required>
      </div>
      <br>
  </fieldset>

  <input type="submit" value="Update Poke Type" name="Update_Poke_Type" class="btn btn-primary" style="margin:.5rem;">
      <a href="/pokemon_types"><input class="btn btn-secondary" type="button" value="Cancel"></a>

</form>
</div>

{% endblock tucontent %}