{% extends "abilities.html" %}
{% block aucontent %}
<!-- form to edit data in abilities-->
<div>
<form id="updatePokeType" action="/update_ability/{{u_abil[0].abil_id}}" method="post">
  <legend><strong>Update Pokemon Type</strong></legend>
      
      <fieldset>
      <input type="hidden" value="{{u_abil[0].abil_id}}" class="form-control" id="abilID" name="abilID" required>
      <div class="form-group">
        <label for="abil_nameInput">Ability Name</label>
        <input type="text" id="abil_nameInput" name="abil_name" value="{{u_abil[0].abil_name}}" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="abil_descInput">Ability Description</label>
        <input type="text" id="abil_descInput" name="abil_desc" value="{{u_abil[0].abil_description}}" rows="4" cols="50" maxlength="215" class="form-control" required>
      </div>
      <br>
  </fieldset>

  <input type="submit" value="Update Ability" name="Update_Ability" class="btn btn-primary" style="margin:.5rem;">
      <a href="/abilities"><input class="btn btn-secondary" type="button" value="Cancel"></a>

</form>
</div>

{% endblock aucontent %}