{% extends "pokemon.html" %}
{% block pucontent %}
<!-- form to edit data in pokemon-->
<div>
<form id="updatePokemon" action="/update_pokemon/{{u_poke[0].pokemon_id}}" method="post">
  <legend><strong>Update Pokemon</strong></legend>
      
      <fieldset>
      <input type="hidden" value="{{u_poke[0].pokemon_id}}" class="form-control" id="pokeID" name="pokeID" required>
      <div class="form-group">
        <label for="pokemon_nameInput">Pokemon Name</label>
        <input type="text" id="poke_name" name="poke_name" value="{{u_poke[0].pokemon_name}}" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="pokemon_heightInput">Height</label>
        <input type="number" id="poke_height" name="poke_height" min="1" step="1" value="{{u_poke[0].height}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="pokemon_weightInput">Weight</label>
        <input type="number" id="poke_weight" name="poke_weight" min="1" step="1" value="{{u_poke[0].weight}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="pokemon_evoInput">Has Evolution?</label>
        <input type="number" id="hasEvolution" name="hasEvolution" value="{{u_poke[0].evolution}}" class="form-control" required>
      </div>
      <br>
  </fieldset>

  <input type="submit" value="Update Pokemon" name="Update_Pokemon" class="btn btn-primary" style="margin:.5rem;">
      <a href="/pokemon"><input class="btn btn-secondary" type="button" value="Cancel"></a>

</form>
</div>

{% endblock pucontent %}  